.font-10-14 {
  font-size: fluid-size(10px, 14px);
}

.font-10-12 {
  font-size: fluid-size(10px, 12px);
}

.font-12-14 {
  font-size: fluid-size(12px, 14px);
}

.font-13-14 {
  font-size: fluid-size(13px, 14px);
}

.font-10-16 {
  font-size: fluid-size(10px, 16px);
}

.font-12-16 {
  font-size: fluid-size(12px, 16px);
}

.font-15-16 {
  font-size: fluid-size(15px, 16px);
}

.font-14-16 {
  font-size: fluid-size(14px, 16px);
}

.font-16-18 {
  font-size: fluid-size(16px, 18px);
}

.font-10-20 {
  font-size: fluid-size(10px, 20px);
}

.font-12-20 {
  font-size: fluid-size(12px, 20px);
}

.font-14-20 {
  font-size: fluid-size(14px, 20px);
}

.font-16-20 {
  font-size: fluid-size(16px, 20px);
}

.font-18-20 {
  font-size: fluid-size(18px, 20px);
}

.font-20-24 {
  font-size: fluid-size(20px, 24px);
}

.font-16-24 {
  font-size: fluid-size(16px, 24px);
}

.font-24-28 {
  font-size: fluid-size(24px, 28px);
}

.font-24-36 {
  font-size: fluid-size(24px, 36px);
}

.font-30-36 {
  font-size: fluid-size(32px, 36px);
}

.font-32-40 {
  font-size: fluid-size(32px, 40px);
}

.font-36-64 {
  font-size: fluid-size(36px, 64px);
}

.font-36-65 {
  font-size: fluid-size(36px, 65px);
}

.font-36-48 {
  font-size: fluid-size(36px, 48px);
}

.font-48-72 {
  font-size: fluid-size(48px, 72px);
}

.font-48-84 {
  font-size: fluid-size(48px, 84px);
}

.font-48-110 {
  font-size: fluid-size(48px, 110px);
}

.font-48-96 {
  font-size: fluid-size(48px, 96px);
}
