.l-footer__submenu {
  padding-bottom: 60px;

  @media screen and (max-width: 1024px) {
    padding-bottom: 100px;
  }

  li {
    text-align: center;

    a {
      color: white;
      font-size: 11px;
    }
  }
}

.c-float-reserve {
  background-color: #B09A7A;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;



  @media screen and (min-width: 1025px) {
    display: none;
  }

  a {
    width: 100%;
    height: 70px;

  }
}